<!DOCTYPE html>
<html lang="ja">
    <head>    
        <meta charset="utf-8">
        <title>夏休み最終日のTODO</title>
        <meta name="description" content="夏休み中にやるべきことが終わったかを確認するアプリです">
        <link href="css/style.css", rel="stylesheet">
    </head>

    <body class="fact-content">
        <h1>あなたにおすすめの夏に観るべきアニメ</h1>
        <div class="picture_frame">
            <img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG8mSVdw4FE81Uc_ym4frqws9yfekTp_mimpm09ly6ZrKvAZowwqgCN5bHDY5kT6-FZPe32PaHjDDXwtXbC0yHjW6mS2vrlg8EQo809IDcpn2YjIx0eyDCRgWSMVhr5sH7s8lBV97Sf9hWzkUrnw0QBahcC1KAZX6XJPpTppXY__GDP0A9T_qO2D4BVI35_LjsUzY-uZ04qpKDoPmIy4TunIxlSj8D86zepcLRSrJG39-cSecBcVjDeN2S3H-PR_HFqnem7zjIAyR3fojfawBdubgcpeSWN6A5MNrZqDFEh4d/20592_1_1.png">
            <p>写真１のタイトル</p> 
        </div>
        <div class="picture_frame">
            <img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG8mSVdw4FE81Uc_ym4frqws9yfekTp_mimpm09ly6ZrKdvWrLmRQ1y1wCGmVtIdr7nytIuDYSD2vmvQLSZzFay1IY1t5nrQtfDfYYdHV2tuetfLJ0T21I7VzBGBny__UA88lBV97Sf9hWzkUrnw0QBahcC1KAZX6XJPpTppXY__GDP0A9T_qO2D4BVI35_LjsYZ1pl7m0763vfHhIivlUIL_2Mm3PBJlqnLhXaizDLFt6CFkX746Blq-_vCTeMW96ti4kfpvLnxO3mKYKrYS8jdSe4gshG7Rkd1fxcKUz2eM/10955_1_1.png">
            <p>写真２のタイトル</p>
        </div>
        <div class="picture_frame">
            <img src="https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG1CROubRnqp0a8lc9vDDS-lAY7AB0-ZjPxi7Xye_xu0wm9U4TgWke3wHS2oRWPNFsjvD2JXl_7C2xRnagW_n5WiaRZ-uNfZY_YGCowVQyfCdzyUFX3tJ_2FbORSufDRAFqFwLUoBlfpck-lOmldj_8YM_QD1P-o7YPgFUjfn8uOxTNj65nTiqkoOg-YjLhO6crWPMN52LnSynlh5eD7BZ1f6aoBGeUDN0SyiO7a5crD36f7BdqzTEOcD-B5nVQk6ihTQQbzQ0p4caWkyaSELo94=/71qN-0yKXdL._RI_.jpg">
            <p>写真３のタイトル</p>
        </div>
        <script src="js/homework_result.js"></script>
    </body>
</html>