{% load static %} 
<!DOCTYPE html>
<html lang="ja">
    <script type="text/javascript" src="main.js"></script>
    <head>    
        
        <meta charset="utf-8">
        <title>夏休み最終日のTODO</title>
        <meta name="description" content="夏休み中にやるべきことが終わったかを確認するアプリです">
        <link href="{% static 'css/style.css' %}", rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h2>あなたにお勧めな作品は何だろう</h2>
              <form action="hoge">
                <label>好きなワードを入力してください: <input type="text", name="homework" id="homework-content"></label>
          
              </form>
            </div>
    </body>
</html>