{% load static %} 
<!DOCTYPE html>
<html lang="ja">
    <head>    
        <meta charset="utf-8">
        <title>夏休み最終日のTODO</title>
        <meta name="description" content="夏休み中にやるべきことが終わったかを確認するアプリです">
        <link href="{% static 'css/style.css' %}", rel="stylesheet">
    </head>

    <body>
        <div id="home" class="big-bg">
            <div class="home-content">
                <h1 id="home-title"class="page-title">夏休みにやるべきことは終わった？</h1>
                <a id="home-main-botton"class="botton">診断スタート</a>
                <a id="home-yes-botton"class="botton">Yes</a>
                <a id="home-no-botton"class="botton">No</a>
            </div>
        </div>

        <script src="{%static '/Users/suzukamayo/myproject/templates/js/main.js' %}"></script>
    </body>
</html>